db_settings = {
  "db_addr": "localhost",
  "db_port": 7687,
  "username": "neo4j",
  "password": "neo4j"
}

mime_types = {
  ".html": "text/html",
  ".js": "application/javascript",
  ".css": "text/css",
  ".txt": "text/plain"
}
